{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Translate API",
    "description": "API to detect any text's language and translate to some other language",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://google-translate1.p.rapidapi.com/language/translate/v2/",
      "variables": {}
    }
  ],
  "paths": {
    "/languages": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "Languages",
        "description": "Returns a list of supported languages for translation.",
        "operationId": "Languages",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {
                      "data": {
                        "languages": [
                          {
                            "language": "af"
                          },
                          {
                            "language": "ak"
                          },
                          {
                            "language": "am"
                          },
                          {
                            "language": "ar"
                          },
                          {
                            "language": "as"
                          },
                          {
                            "language": "ay"
                          },
                          {
                            "language": "az"
                          },
                          {
                            "language": "be"
                          },
                          {
                            "language": "bg"
                          },
                          {
                            "language": "bho"
                          },
                          {
                            "language": "bm"
                          },
                          {
                            "language": "bn"
                          },
                          {
                            "language": "bs"
                          },
                          {
                            "language": "ca"
                          },
                          {
                            "language": "ceb"
                          },
                          {
                            "language": "ckb"
                          },
                          {
                            "language": "co"
                          },
                          {
                            "language": "cs"
                          },
                          {
                            "language": "cy"
                          },
                          {
                            "language": "da"
                          },
                          {
                            "language": "de"
                          },
                          {
                            "language": "doi"
                          },
                          {
                            "language": "dv"
                          },
                          {
                            "language": "ee"
                          },
                          {
                            "language": "el"
                          },
                          {
                            "language": "en"
                          },
                          {
                            "language": "eo"
                          },
                          {
                            "language": "es"
                          },
                          {
                            "language": "et"
                          },
                          {
                            "language": "eu"
                          },
                          {
                            "language": "fa"
                          },
                          {
                            "language": "fi"
                          },
                          {
                            "language": "fr"
                          },
                          {
                            "language": "fy"
                          },
                          {
                            "language": "ga"
                          },
                          {
                            "language": "gd"
                          },
                          {
                            "language": "gl"
                          },
                          {
                            "language": "gn"
                          },
                          {
                            "language": "gom"
                          },
                          {
                            "language": "gu"
                          },
                          {
                            "language": "ha"
                          },
                          {
                            "language": "haw"
                          },
                          {
                            "language": "he"
                          },
                          {
                            "language": "hi"
                          },
                          {
                            "language": "hmn"
                          },
                          {
                            "language": "hr"
                          },
                          {
                            "language": "ht"
                          },
                          {
                            "language": "hu"
                          },
                          {
                            "language": "hy"
                          },
                          {
                            "language": "id"
                          },
                          {
                            "language": "ig"
                          },
                          {
                            "language": "ilo"
                          },
                          {
                            "language": "is"
                          },
                          {
                            "language": "it"
                          },
                          {
                            "language": "iw"
                          },
                          {
                            "language": "ja"
                          },
                          {
                            "language": "jv"
                          },
                          {
                            "language": "jw"
                          },
                          {
                            "language": "ka"
                          },
                          {
                            "language": "kk"
                          },
                          {
                            "language": "km"
                          },
                          {
                            "language": "kn"
                          },
                          {
                            "language": "ko"
                          },
                          {
                            "language": "kri"
                          },
                          {
                            "language": "ku"
                          },
                          {
                            "language": "ky"
                          },
                          {
                            "language": "la"
                          },
                          {
                            "language": "lb"
                          },
                          {
                            "language": "lg"
                          },
                          {
                            "language": "ln"
                          },
                          {
                            "language": "lo"
                          },
                          {
                            "language": "lt"
                          },
                          {
                            "language": "lus"
                          },
                          {
                            "language": "lv"
                          },
                          {
                            "language": "mai"
                          },
                          {
                            "language": "mg"
                          },
                          {
                            "language": "mi"
                          },
                          {
                            "language": "mk"
                          },
                          {
                            "language": "ml"
                          },
                          {
                            "language": "mn"
                          },
                          {
                            "language": "mni-Mtei"
                          },
                          {
                            "language": "mr"
                          },
                          {
                            "language": "ms"
                          },
                          {
                            "language": "mt"
                          },
                          {
                            "language": "my"
                          },
                          {
                            "language": "ne"
                          },
                          {
                            "language": "nl"
                          },
                          {
                            "language": "no"
                          },
                          {
                            "language": "nso"
                          },
                          {
                            "language": "ny"
                          },
                          {
                            "language": "om"
                          },
                          {
                            "language": "or"
                          },
                          {
                            "language": "pa"
                          },
                          {
                            "language": "pl"
                          },
                          {
                            "language": "ps"
                          },
                          {
                            "language": "pt"
                          },
                          {
                            "language": "qu"
                          },
                          {
                            "language": "ro"
                          },
                          {
                            "language": "ru"
                          },
                          {
                            "language": "rw"
                          },
                          {
                            "language": "sa"
                          },
                          {
                            "language": "sd"
                          },
                          {
                            "language": "si"
                          },
                          {
                            "language": "sk"
                          },
                          {
                            "language": "sl"
                          },
                          {
                            "language": "sm"
                          },
                          {
                            "language": "sn"
                          },
                          {
                            "language": "so"
                          },
                          {
                            "language": "sq"
                          },
                          {
                            "language": "sr"
                          },
                          {
                            "language": "st"
                          },
                          {
                            "language": "su"
                          },
                          {
                            "language": "sv"
                          },
                          {
                            "language": "sw"
                          },
                          {
                            "language": "ta"
                          },
                          {
                            "language": "te"
                          },
                          {
                            "language": "tg"
                          },
                          {
                            "language": "th"
                          },
                          {
                            "language": "ti"
                          },
                          {
                            "language": "tk"
                          },
                          {
                            "language": "tl"
                          },
                          {
                            "language": "tr"
                          },
                          {
                            "language": "ts"
                          },
                          {
                            "language": "tt"
                          },
                          {
                            "language": "ug"
                          },
                          {
                            "language": "uk"
                          },
                          {
                            "language": "ur"
                          },
                          {
                            "language": "uz"
                          },
                          {
                            "language": "vi"
                          },
                          {
                            "language": "xh"
                          },
                          {
                            "language": "yi"
                          },
                          {
                            "language": "yo"
                          },
                          {
                            "language": "zh"
                          },
                          {
                            "language": "zh-CN"
                          },
                          {
                            "language": "zh-TW"
                          },
                          {
                            "language": "zu"
                          }
                        ]
                      }
                    }
                  ],
                  "contentMediaType": "text/plain"
                },
                "example": {
                  "data": {
                    "languages": [
                      {
                        "language": "af"
                      },
                      {
                        "language": "ak"
                      },
                      {
                        "language": "am"
                      },
                      {
                        "language": "ar"
                      },
                      {
                        "language": "as"
                      },
                      {
                        "language": "ay"
                      },
                      {
                        "language": "az"
                      },
                      {
                        "language": "be"
                      },
                      {
                        "language": "bg"
                      },
                      {
                        "language": "bho"
                      },
                      {
                        "language": "bm"
                      },
                      {
                        "language": "bn"
                      },
                      {
                        "language": "bs"
                      },
                      {
                        "language": "ca"
                      },
                      {
                        "language": "ceb"
                      },
                      {
                        "language": "ckb"
                      },
                      {
                        "language": "co"
                      },
                      {
                        "language": "cs"
                      },
                      {
                        "language": "cy"
                      },
                      {
                        "language": "da"
                      },
                      {
                        "language": "de"
                      },
                      {
                        "language": "doi"
                      },
                      {
                        "language": "dv"
                      },
                      {
                        "language": "ee"
                      },
                      {
                        "language": "el"
                      },
                      {
                        "language": "en"
                      },
                      {
                        "language": "eo"
                      },
                      {
                        "language": "es"
                      },
                      {
                        "language": "et"
                      },
                      {
                        "language": "eu"
                      },
                      {
                        "language": "fa"
                      },
                      {
                        "language": "fi"
                      },
                      {
                        "language": "fr"
                      },
                      {
                        "language": "fy"
                      },
                      {
                        "language": "ga"
                      },
                      {
                        "language": "gd"
                      },
                      {
                        "language": "gl"
                      },
                      {
                        "language": "gn"
                      },
                      {
                        "language": "gom"
                      },
                      {
                        "language": "gu"
                      },
                      {
                        "language": "ha"
                      },
                      {
                        "language": "haw"
                      },
                      {
                        "language": "he"
                      },
                      {
                        "language": "hi"
                      },
                      {
                        "language": "hmn"
                      },
                      {
                        "language": "hr"
                      },
                      {
                        "language": "ht"
                      },
                      {
                        "language": "hu"
                      },
                      {
                        "language": "hy"
                      },
                      {
                        "language": "id"
                      },
                      {
                        "language": "ig"
                      },
                      {
                        "language": "ilo"
                      },
                      {
                        "language": "is"
                      },
                      {
                        "language": "it"
                      },
                      {
                        "language": "iw"
                      },
                      {
                        "language": "ja"
                      },
                      {
                        "language": "jv"
                      },
                      {
                        "language": "jw"
                      },
                      {
                        "language": "ka"
                      },
                      {
                        "language": "kk"
                      },
                      {
                        "language": "km"
                      },
                      {
                        "language": "kn"
                      },
                      {
                        "language": "ko"
                      },
                      {
                        "language": "kri"
                      },
                      {
                        "language": "ku"
                      },
                      {
                        "language": "ky"
                      },
                      {
                        "language": "la"
                      },
                      {
                        "language": "lb"
                      },
                      {
                        "language": "lg"
                      },
                      {
                        "language": "ln"
                      },
                      {
                        "language": "lo"
                      },
                      {
                        "language": "lt"
                      },
                      {
                        "language": "lus"
                      },
                      {
                        "language": "lv"
                      },
                      {
                        "language": "mai"
                      },
                      {
                        "language": "mg"
                      },
                      {
                        "language": "mi"
                      },
                      {
                        "language": "mk"
                      },
                      {
                        "language": "ml"
                      },
                      {
                        "language": "mn"
                      },
                      {
                        "language": "mni-Mtei"
                      },
                      {
                        "language": "mr"
                      },
                      {
                        "language": "ms"
                      },
                      {
                        "language": "mt"
                      },
                      {
                        "language": "my"
                      },
                      {
                        "language": "ne"
                      },
                      {
                        "language": "nl"
                      },
                      {
                        "language": "no"
                      },
                      {
                        "language": "nso"
                      },
                      {
                        "language": "ny"
                      },
                      {
                        "language": "om"
                      },
                      {
                        "language": "or"
                      },
                      {
                        "language": "pa"
                      },
                      {
                        "language": "pl"
                      },
                      {
                        "language": "ps"
                      },
                      {
                        "language": "pt"
                      },
                      {
                        "language": "qu"
                      },
                      {
                        "language": "ro"
                      },
                      {
                        "language": "ru"
                      },
                      {
                        "language": "rw"
                      },
                      {
                        "language": "sa"
                      },
                      {
                        "language": "sd"
                      },
                      {
                        "language": "si"
                      },
                      {
                        "language": "sk"
                      },
                      {
                        "language": "sl"
                      },
                      {
                        "language": "sm"
                      },
                      {
                        "language": "sn"
                      },
                      {
                        "language": "so"
                      },
                      {
                        "language": "sq"
                      },
                      {
                        "language": "sr"
                      },
                      {
                        "language": "st"
                      },
                      {
                        "language": "su"
                      },
                      {
                        "language": "sv"
                      },
                      {
                        "language": "sw"
                      },
                      {
                        "language": "ta"
                      },
                      {
                        "language": "te"
                      },
                      {
                        "language": "tg"
                      },
                      {
                        "language": "th"
                      },
                      {
                        "language": "ti"
                      },
                      {
                        "language": "tk"
                      },
                      {
                        "language": "tl"
                      },
                      {
                        "language": "tr"
                      },
                      {
                        "language": "ts"
                      },
                      {
                        "language": "tt"
                      },
                      {
                        "language": "ug"
                      },
                      {
                        "language": "uk"
                      },
                      {
                        "language": "ur"
                      },
                      {
                        "language": "uz"
                      },
                      {
                        "language": "vi"
                      },
                      {
                        "language": "xh"
                      },
                      {
                        "language": "yi"
                      },
                      {
                        "language": "yo"
                      },
                      {
                        "language": "zh"
                      },
                      {
                        "language": "zh-CN"
                      },
                      {
                        "language": "zh-TW"
                      },
                      {
                        "language": "zu"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/detect": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Detect",
        "description": "Detects the language of text within a request.",
        "operationId": "Detect",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "defining content type as x-www-form-urlencoded",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "application/x-www-form-urlencoded"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "q"
                ],
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "description": "The input text upon which to perform language detection.",
                    "examples": [
                      "English is hard, but detectably so"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {
                      "data": {
                        "detections": [
                          [
                            {
                              "confidence": 1,
                              "isReliable": false,
                              "language": "en"
                            }
                          ]
                        ]
                      }
                    }
                  ],
                  "contentMediaType": "text/plain"
                },
                "example": {
                  "data": {
                    "detections": [
                      [
                        {
                          "confidence": 1,
                          "isReliable": false,
                          "language": "en"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "Translate",
        "description": "Translates input text, returning translated text",
        "operationId": "Translate",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "q",
                  "target"
                ],
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "description": "The input text to translate",
                    "examples": [
                      "Hello, world!"
                    ]
                  },
                  "target": {
                    "type": "string",
                    "description": "target language to translate the text to",
                    "examples": [
                      "es"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {
                      "data": {
                        "translations": [
                          {
                            "translatedText": "¡Hola Mundo!"
                          }
                        ]
                      }
                    }
                  ],
                  "contentMediaType": "text/plain"
                },
                "example": {
                  "data": {
                    "translations": [
                      {
                        "translatedText": "¡Hola Mundo!"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "Rapidapi-Key": {
        "type": "apiKey",
        "description": "your api key",
        "name": "X-Rapidapi-Key",
        "in": "header"
      },
      "RapidAPI-Host": {
        "type": "apiKey",
        "description": "api key host",
        "name": "X-RapidAPI-Host",
        "in": "header"
      },
      "Content-Type": {
        "type": "apiKey",
        "description": "content type",
        "name": "Content-Type",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Rapidapi-Key": [],
      "RapidAPI-Host": [],
      "Content-Type": []
    }
  ],
  "tags": []
}